<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <ion-card-title>
              Load game
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>
              Enter game code
            </ion-label>
            <ion-input class="code-input"
                       placeholder="code"
                       minlength="6"
                       maxlength="6"
                       size="6"
                       required="true"
                       autocorrect="off"
                       autocomplete="off"
                       [(ngModel)]="code">
            </ion-input>

            <ion-button (click)="submitCode()">Find</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
