<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="play" *ngIf="showPlay()">
      <ion-icon name="play"></ion-icon>
      <ion-label>Play</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="submit" *ngIf="showSubmit()">
      <ion-icon name="archive-outline"></ion-icon>
      <ion-label>Submit</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="players" *ngIf="showPlayers()">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Players</ion-label>      
    </ion-tab-button>

    <ion-tab-button tab="settings" *ngIf="showSettings()">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>Settings</ion-label>      
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
